/*   login    */

.img-responsive.pic1 {
    height: 674px;
    width: 103%;
    max-width: 103%;
    padding: 255px 0px 0px 0px;
}
.cuppic {
    height: 674px;
    background: #2c83c5;
    text-align: center;
}
.heading{
    color: white;
    padding-top: 70px;
    font-size: 60px;
}
.strike{
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    color: white;
}
.strike > span {
    position: relative;
    display: inline-block;
}
.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    width: 110px;
    height: 1px;
    background: white;
    top: 50%;
}
.strike > span:before {
    right: 100%;
    margin-right: 15px;
}
.strike > span:after {
    left: 100%;
    margin-left: 15px;
}
.form-group2 {
    margin-bottom: 15px;
    padding: 25px 60px 0px 90px;
}
.form-group1{
    margin-bottom: 15px;
    padding: 0px 60px 0px 90px;
}
.col-md-3.ppp{
    width: 42%;
}
.col-md-5.pp{
    width: 9.666667%;
}
.col-md-4.face{
    width: 46.333333%;
}
input[type1]{
    height: auto;
    border: 2px solid white;
    border-radius: 3px;
    width: 75%;
    max-width: 100%;
    margin: 10px 0px;
    padding: 10px 10px;
    font-size: 12px;
    margin-left: 40px; 
}
a.ange {
    color: white;
    margin-right: 110px;
    font-size: 12px;
}
.sree {
    
    margin-top: 28px;
}
.bb {
    margin-top: 5px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
h5.h5.p {
    margin-top: 10px;
    margin-right: 70px;
}
button.btn.btn.default.p {
    border: 2px solid white;
    background: white; 
    color: #2c83c5;
    margin-right: 0px;
    border-radius: 30px;
    width: 90px;
    font-size: 11px;
    margin-left: -94px;
}
hr {
    margin-top: 27px;
    border: 0;
    border-top: 1px solid #eee;
    margin-right: 130px;
}
img.zustmeet {
    padding-top: 100px;
    width: 40%;
}
i.fa.fa-facebook {
    height: 30px;
    width: 30px;
    border: 2px solid white;
    border-radius: 50%;
    line-height: 30px;
    color: #2c83c5;
    background: white;
    font-size: 18px;
    cursor: pointer;
    margin-left: 90px;
}
i.fa.fa-facebook:hover{
    color: white;
    background: #2c83c5;
    border: 2px solid white;
}
i.fa.fa-twitter {
    height: 30px;
    width: 30px;
    border: 2px solid white;
    border-radius: 50%;
    line-height: 30px;
    color: #2c83c5;
    background: white;
    font-size: 18px;
    cursor: pointer;
}
i.fa.fa-twitter:hover{
    color: white;
    background: #2c83c5;
    border: 2px solid white;
}
i.fa.fa-google-plus {
    height: 30px;
    width: 30px;
    border: 2px solid white;
    border-radius: 50%;
    line-height: 26px;
    color: #2c83c5;
    background: white;
    font-size: 17px;
    cursor: pointer;
    margin-right: 85px;
}
i.fa.fa-google-plus:hover{
    color: white;
    background: #2c83c5;
    border: 2px solid white;
}
hr.ppp {
    width: 440px;
    margin-right: 100px;
    margin-top: 35px;
}
a.angel {
    color: white;
    
}
h3#first {
    font-size: 11px;
    color: white;
    padding-bottom: 20px;
}
a.ang {
    color: white;
    font-size: 12px;
    margin-left: 97px;
}
.social-agilea {
    margin-top: 20px;
}
@media only screen and (max-width: 768px){

.social-agilea {
    margin-top: 20px;
}

img.zustmeet {
    padding-top: 45px;
}

}

@media (min-width: 375px) and (max-width: 667px)
{

.img-responsive.pic1{
    display: none;
}
    p.logindiv {
    margin-left: -14px;
}
    button.btn.btn.default.p {
    margin-left: -90px;
}
.d1{width:50%;margin-right: 0px;}
i#logintwit {
    
    margin-left: 153px;
}
i.logingoog {
   margin-top: -30px;
    margin-left: 235px;
}

}
@media (min-width: 320px) and (max-width: 480px){
 .img-responsive.pic1{
    display: none;
}
    p.logindiv {
    margin-left: -14px;
}
    button.btn.btn.default.p {
    margin-left: -90px;
}
   i.fa.fa-facebook {
    margin-left: 80px;
}

i.fa.fa-google-plus {
   margin-top: -30px;
    margin-left: 210px;
}
   
}
@media (min-width: 320px) and (max-width: 568px)
{
  i#logintwit {
    margin-left: 117px;
}  
i#logingoog {
    margin-left: 174px;
}
i#loginface {
    margin-left: 49px;
}
hr.ppp {
    width: 262px;
    margin-right: 0px;
    margin-left: 15px;
}
}
/*   login end   */

/*-- forgortpassword --*/

.img-responsive.zustpic {
    height: 670px;
    width: 103%;
    max-width: 103%;
    padding: 176px 0px 0px 0px;
}
.zust {
    height: 670px;
    background: #2c83c5;
    text-align: center;
}
.form-group2 {
    margin-bottom: 15px;
    padding: 25px 60px 0px 90px;
}
button.btn.ph {
    margin-bottom: 20px;
    margin-top: 10px;
    background: white;
    color: #2c83c5;
    border: 2px solid #2c83c5;
    border-radius: 40px;
    width: 120px;
}
button.btn.ph:hover{
    background: #2c83c5;
    color: white;
    border: 2px solid white;
}
.social-agile.face {
    margin-top: 30px;
}
i.fa.fa-facebook.face:hover{
    color: white;
    background: #2c83c5;
    border: 2px solid white;
}
@media only screen and (max-width: 768px){

.img-responsive.zustpic{
    display: none;
}
i.fa.fa-twitter {
        margin-top: -30px;
        margin-left: 130px;
}
img.p {
    padding-top: 15px;
}
button.btn.btn.default.p {
    margin-right: 0px;
    border-radius: 30px;
    margin-left: 0px;
}
a.ange {
    margin-right: 10px;
}
.form-group2 {
    padding: 30px 0px 0px 0px;
}
.form-group1 {
    padding: 2px 0px 0px 0px;
}
h1.heading {
    padding-top: 0px;
    font-size: 28px;
    padding-bottom: 0px;
}
p.pp {
    margin-top: -30px;
    
    font-size: 12px;
}
.col-md-6.col-xs-12.pa {
    padding-bottom: 60px;
}

hr.pp {
    margin-top: -18px;
    border: 0;
    border-top: 1px solid #eee;
    width: 140px;
    margin-right: 0;
    margin-left: 160px;
}

.social-agile.face {
    margin-top: 240px;
}

i.fa.fa-facebook.face {
    margin-left: -230px;
}
}

/*-- forgotpassword end--*/


/*--changepassword --*/

.img-responsive.cup {
    height:660px;
    width: 103%;
    max-width: 103%;
    padding: 240px 0px 0px 0px;
    margin-left: -4px;
}
.col-md-4.p {
    width: 46.333333%;
}
i.fa.fa-facebook.face {
    height: 30px;
    width: 30px;
    border: 2px solid white;
    border-radius: 50%;
    line-height: 30px;
    color: #2c83c5;
    background: white;
    font-size: 18px;
    cursor: pointer;
    margin-left: 90px;
}
.pa {
    height: 675px;
    background: #2c83c5;
    text-align: center;
}
.form-group2 {
    margin-bottom: 15px;
    padding: 25px 60px 0px 90px;
}
.form-group1{
    margin-bottom: 15px;
    padding: 0px 60px 0px 90px;
}

.social-agile.facebook {
    margin-top: 30px;
}

label.password {
    color: white;
    margin-right: 240px;
}
label.confirmpassword {
    color: white;
    margin-right: 250px;
}

@media only screen and (max-width: 768px){

.img-responsive.cup{
    display: none;
}
hr {
    margin-left: 60px;
}

a.ange {
    margin-right: 10px;
}
.form-group2 {
    padding: 30px 0px 0px 0px;
}
.form-group1 {
    padding: 2px 0px 0px 0px;
}
p.pp {
    margin-left: 225px;
}
label.password {
    margin-right: 50px;
}
label.confirmpassword {
    margin-right: 65px;
}

.social-agile.facebook {
    margin-top: 240px;
}
i.fa.fa-facebook.face {
    margin-left: -230px;
}
img.img-responsive.cara {
    margin-left: 0px!important;
    margin-top: 50px!important;
}

}

/*--changepassword end --*/

/*   Registration    */

.img-responsive.pic2
{
    height: 675px;
    max-width: 103%;
    width: 103%;
    padding: 255px 0px 0px 0px;
}
.pa1
{
    background: #2c83c5;
    height: 675px;
    text-align: center;
}
.dak
{
    padding: 10px 0px 10px 0px;
    width: 310px;
}
.t1
{
    width: 80%;
    border: 2px solid white;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 15px 10px;
}
.r1
{
    width: 40%;
    margin-right: 10px;
    float: right;
}
.d1{background-color: white;
    width: 48%;
    float: left;
    margin: 10px 0px;
    border: 2px solid white;
    border-radius: 3px;
    padding: 5px 0px;
    margin-right: 19px;
    line-height: 30px;
}
.d3{background-color: white;
    width: 47%;
    float: left;
    margin: 10px 0px;
    border-radius: 3px;
    padding: 5px 0px;
    line-height: 34px;
}
.d2
{
    padding:0 13%;
}

@media only screen and (max-width: 768px){
.d1
{
    width: 43%;
    margin-right: 10px;
    float: right;
}
.d3
{
    width: 47%;
    float: right;
    margin-right: 10px;
}
.hr{width: 250px;}
.img-responsive.pic2{
    display: none;
}
button.btn.btn.default.da {
    margin-top: 10px;
    margin-left: 30px;
} 
h4#b2 {
    margin-top: -15px;
}
.dak {
    padding: 10px 0px 10px 0px;
    width: 210px;
}   
label.password {
    margin-left: 20px;
}
label.confirmpassword {
    margin-left: 20px;
}

i.fa.fa-facebook.face {
    margin-left: -245px;
}
ul.nav.navbar-nav.navbar-right {
    margin-right: 46px;
}
i.fa.fa-user {
    
    margin-top: 15px;
}
.col-md-6.age {
    margin-left: 43px;
}
form#p1 {
    margin-right: 109px;
    margin-top: 30px;
}
p.paraa1,a.ang {
    margin-left: 10px;
}
i.fa.fa-map-marker {
    margin-left: 180px;
}

button.btn.btn-primary.view {
    margin-left: 240px;
}
.col-md-5.anamka,.col-md-5.anamka2 {
    width: 371px!important;
}
.container.zz1,.container.zz2,.container.zz3  
{
    margin-left: 0px;
}
.col-md-6.ee2 
{
    margin-left: 0px!important;
    width: 375px!important;
    margin-top: 15px;
}
.col-md-6.ee1 {
    width: 375px!important;
}
.an {
    margin-left: 40px!important;
}
p.age {
    margin-left: 133px!important;
}
.fa.fa-map-marker.sq {
    margin-left: 204px!important;
}
button.btn.btn-primary.vi {
    margin-left: 246px!important;
}
li.l1 
{
    margin-left: 238px!important;
}
form#p2{
    margin-left: -46px!important;
}
p.pp,p.ppp {
    margin-left: -47px;
    margin-top: 10px;
}
p.pubpara1 {
    margin-left: 50px!important;
}
p.moviepara1 {
    margin-left: 30px!important;
}
img.cup {
    margin-left: -35px!important;
}
img.pub {
    margin-left: 80px!important;
}
p.pubpara2 {
    
    margin-left: 64px!important;
}
img.movie {
    margin-left: 61px!important;
}
p.videocallpara2 {
    margin-left: 65px!important;
}
p.cuppara2 {
    margin-left: 60px!important;
}
p.dinnerpara2 {
    margin-left: 58px!important;
}
p.moviepara2 {
    margin-left: 52px!important;
}
p.drivepara2 {
    margin-left: 45px!important;
}
.col-md-12.aa {
    width: 144px;
}
input#dot {
    margin-left: 211px;
}
label#dat {
    margin-left: -212px;
}
img.mychat {
    margin-left: 89px!important;
}
.mad{
margin: 10px 0px 0px 47px;
}
b.abt {
    margin: 0px 10px!important;
}
}
#b1
{
    color: white;
    margin-top: 15px;
}
#b2
{
    color: white;
    padding-top: 10%;
    
}
button.btn.btn.default.da
{  
    width: 140px;
    border: 2px solid white;
    border-radius: 30px;
    color: #2c83c5;
    margin-right: 36px;
    background-color: white;
}
.fa.fa-arrow-right.d
{
    width: 25px;
}

/*   registration   */

/*  membership    */

.container.p {
    background: whitesmoke;
    height: 520px;
    width: 450px;
    margin-top: 100px;
}
.col-md-4.silver {
    color: skyblue;
    margin-top: 30px;
     width: 26%;
}
.col-md-4.r {
     margin-top: 0px; 
    background: #EFA52C;
    height: 75px;
    text-align: center;
    line-height: 75px;
     width: 36%;
}
.col-md-4.a {
    background: rgba(128,128,128,0.24);
    height: 75px;
    line-height: 75px;
    text-align: center;
    margin-top: 0px;
    width: 38%;
}

h5.silver {
    margin-top: -9px;
    margin-left: -97px;
    font-size: 16px;
}
h5.gold {
    margin-top: 30px;
    font-size: 16px;
    color: white;
    margin-left: -100px;
}
h5.platinum {
    margin-top: 30px;
    font-size: 16px;
    color: white;
     margin-left: -100px;
}
h3.para {
    margin-left: -100px;
    font-size: 18px;
}
img.badgefor {
    height: auto;
    width: 140px;
    margin-left: 158px;
    margin-top: 20px;
}
.row.text {
    text-align: center;
}
h4.text1 {
    margin-top: 50px;
    color: rgb(148, 138, 138);
    font-size: 14px;
    margin-right:15px;
}
h4.text2 {
    font-size: 14px;
    color: rgb(148, 138, 138);
    margin-right: 15px;
}
h4.text3 {
    
    text-align: center;
    margin-right: 15px;
    font-size: 14px;
    color: rgb(148, 138, 138);
}
button.btn.p {
    background: #EFA52C;
    width: 180px;
    margin-left: 135px;
    margin-top: 10px;
    border: 2px solid #EFA52C;
    border-radius: 60px;
    padding: 8px;
    color: white;
    font-size: 18px;
}
h4.para2 {
    margin-left: -140px;
}

@media only screen and (max-width: 768px){
.col-md-4.silver {
    width: 25%!important;
}
.container.p {
    height: 700px;
    width: 464px;
}
.col-md-4.a {
    margin-top: -30px;
    width: 34%!important;
    margin-top: -105px;
    margin-left: 232px;
}
h5.silver {
    font-size: 16px;
}
.col-md-4.r {
    width: 28%!important;
    margin-top: -68px;
    margin-left: 102px;
}
h5.gold {
    margin-left: -110px;
    line-height: 76px;
}
h5.platinum {
    line-height: 76px;
    margin-left: -102px;
}
h3.para {
    margin-left: -222px;
}
img.badgefor.img-responsive {
    margin-left: 100px;
}
h4.text1,h4.text2,h4.text3 {
    margin-right: 137px;
}
button.btn.p{
    margin-left:68px;
}
h4.para2 {
    margin-left: -248px;
}
}

  /*   membership end    */

/*   profile   */

img.zustmeetlogo {
    padding-top: 11px;
}
.nav.navbar-nav.navbar-right>li>a:hover{
    background: transparent;
    color: black;
}
a.navbar-brand {
    color: white;
    font-size: 24px;
    margin-top: 5px;
}
a.homee{
  font-size: 17px;
}
.navbar-form {
    width: auto;
    margin-left: 7px;
    box-shadow: none;
}
i.fa.fa-home {
    font-size: 23px;
    color: #fff;
    margin-top: 21px;
}
a.homee
{
    margin-top: -35px;
}
i.fa.fa-heart
{
    font-size: 27px;
    color: white;
    margin-left: 20px;
    margin-left: 30px;
    margin-top: 23px;
}
.col-md-6.girl {
    width: 37%;
}
.navbar-form .input-group>.form-control
{
    width: 100%;
}
input#text {
    max-width: 100%; 
    border: 2px solid white;
    margin: 0px 0px;
    padding: 0px 5px;
}
.navbar-right 
{
    float: right!important;
    margin-top:0px;
}
img.p 
{
    padding: 10px;
}
img.pp 
{
    padding-top: 100px;
}
img.ppp 
{
    height: auto;
    width: 211px;
    padding-top: 30px;
}
img.img-responsive.pppp {
    margin-top: 20px;
    margin-left: -185px;
}
img.chat,img.videocall
{
    margin-left: 90px;
    margin-top: 46px;
    height: 40px;
}
img.pub 
{
    margin-left: 0px;
    margin-top: 46px;
    height: 40px;
}
img.movie 
{
    margin-left: 72px;
    margin-top: 46px;
    height: 40px;
}
img.cupof,img.dinner  
{
    margin-left: 45px;
    margin-top: 46px;
    height: 40px;
}
img.events 
{
    margin-left: 55px;
    margin-top: 46px;
    height: 34px;
}
img.drive 
{
    margin-left: 48px;
    margin-top:50px;
    height: 20px;
}
hr 
{
  margin-top: 70px;
  margin-bottom: 0px; 
} 
p.moviepara1 {
    margin-top: -36px;
    margin-left: 59px;
    color: #2c83c5;
    font-size: 17px;
}
p.pubpara1 {
    margin-top: -36px;
    margin-left: -27px;
    color: #2c83c5;
    font-size: 17px;
}
p.chatpara1 {
    margin-top: -36px;
    margin-left: 75px;
    color: #2c83c5;
    font-size: 17px;
}
p.videocallpara1 {
    margin-top: -28px;
    margin-left: 66px;
    color: #2c83c5;
    font-size: 17px;
}

p.cuppara1 {
    margin-top: -30px;
    margin-left: 30px;
    color: #2c83c5;
    font-size: 17px;
}

p.dinnerpara1 {
    margin-top: -30px;
    margin-left: 28px;
    color: #2c83c5;
    font-size: 17px;
}

p.eventspara1 {
    margin-top: -30px;
    margin-left: 35px;
    color: #2c83c5;
    font-size: 17px;
}
p.drivepara1 {
    margin-top: -24px;
    margin-left: 35px;
    color: #2c83c5;
    font-size: 17px;
}
p.ppp 
{
    margin-left: -33px;
    margin-top: 10px;
}
p.pp 
{
    margin-left: -33px;
}
.fa.fa-sort-amount-desc
{
    font-size: 17px;
}
i.fa.fa-chevron-left 
{
    font-size: 40px;
    color: #2c83c5;
    margin-top: -205px;
    margin-left: 60px;
}
i.fa.fa-heart-o 
{
    font-size: 45px;
    color: red;
    margin-top: -275px;
    margin-left: 200px;
}
.sp
{
    font-size: 17px;
    margin-right: 50px;
}
.fa.fa-circle-o
{
     font-size: 15px;
     color: gray
}

i#glp {
    width: 35px;
}
.container-fluid.ee11
{
    padding-right: 3px;
    padding-left: 3px;
    margin-right: auto;
    margin-left: auto;
}
.para1
{
    margin-left: 136px;
    margin-top: -88px;
    font-size: 20px;
}
.para2
{
   margin-left: 136px;
}

@media only screen and (max-width: 768px){

.para1 
{
    margin-left: 101px;
    
}
.para2 
{
    margin-left: 103px;
}
.fa.fa-heart-o 
{
    margin-left: 260px;
    
}
li.l1 
{
    margin-left: 210px;
}
i.fa.fa-heart-o {
    margin-top: -320px;
    margin-left: 193px;
}
.col-md-5.ee2 
{
   margin-left: 0px;
}
.col-md-5.ee11 {
    margin-bottom: 10px;
}
.ax1 
{
    margin-left: 230px;
}
.ax2
{
    padding-right: 23px;
    margin-left: 228px;
    padding-left: 11px;
}
.navbar-nav 
{
    margin-right: 80px;
}
.nav.navbar-nav.navbar-right 
{
    margin-top: 0px;
}
.col-md-4.p 
{
    margin-top: -216px;
    margin-left: 60px;
    width: 100%;
}
img.videocall 
{
    margin-left: 75px;
}
p.videocallpara
{
    margin-left: 144px;
}
img.cupof 
{
    margin-left: 67px;
}
p.cuppara,p.dinnerpara
{
   margin-left: 143px;
}
img.dinner 
{
    margin-left: 68px;
}
img.movie,img.events 
 {
    margin-left: 62px;
}
p.eventspara 
{
    margin-left: 140px;
}
img.pub 
{
    margin-left: 80px;
}
p.pubpara 
{
    margin-left: 153px;
}
img.drive 
{
    margin-left: 57px;
    margin-top: 40px;
}
p.drivepara 
{
    margin-left: 143px;
}
a.homee 
{
    margin-top: -30px;
}
a#hm 
{
    height: 50px;
}
img.img-responsive.pppp {
    height: auto;
    margin-left: 23px;
}
.col-md-6.girl {
    width: 100%;
}
li.active {
    padding-left: 13px;
    margin-left: 20px;
    width: 60%;
}
}

/*   profile end   */

/* amulya */

.container-fluid.sa{
    background-color: #0583e7;
   }
.dr1{
    padding: 10px 0px 0px 5px;
    width:150px;
   }
img.s1 {
    width: 100%;
    height: 272px;
}
img.s2 {
    border-radius: 50%;
    border: 5px solid white;
    margin-top: -116px;
    margin-left: 58px;
}
b {
    font-weight: 700;
    font-size: 16PX;
    margin-left: 93px;
}
b.hy {
    margin-left: 94px;
    font-size: 16px;
}
i.fa.fa-pencil {
    margin-left: 50px;
    font-size: 20px;
}
img.chat2 {
    margin-left: 77px;
    height: 20px;
}
img.frnd {
    margin-left: 100px;
    margin-top: 14px;
    height: 31px;
}
span.pre {
    margin-left: 164px;
    color: gray;
}
b.abt {
    font-size: 15px;
    margin-left: -520px;
}
span.a {
    font-size: 16px;
    color: #0583e7;
}
h2.ma {
    margin-left: 171px;
    margin-top: -83px;
}
img.chat2 {
    margin-left: 105px;
    height: 46px;
}
b.pre {
    margin-left: 157px;
}
.dr
{
    margin: -30px 0px -12px 193px;
    height: 23px;
    width: 23px;
    background-color: red;
    border: 2px solid red;
    border-radius: 50%;
    padding: 6px;
    line-height: 8px;
    color: white;
    font-size: 16px;
}
.row.bg{
    background: #eeeeee;
}
img.mychat {
    margin-top: 17px;
    height: 40px;
    margin-left: 102px;
}
@media only screen and (max-width: 768px){
.dr1{margin-left: 50px;}
 a.hom4{ margin-top: 0px;color: #fff;margin-top: 10px;} 
 li.active {background-color: #0583e7; }  
.abt{margin-left: 0px;margin: 10px 0px;}
span.pre{margin-left: 90px;}
}

/* susmitha.p*/

.col-sm-6.ser {
    margin-right: -126px;
    margin-top: -5px;
    float: right;
}
#hm
{
    padding-left: 25px;
    height: 60px;
    margin-left: 0px;
    color:#fff;
}
i#glp
 {
    width: 35px;
}
.container.search
 {
    padding-top: 20px;
    padding-left: 83px;
    padding-bottom: 20px;
}
.container-fluid.filter
{
    padding-right: 3px;
    padding-left: 3px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}
.paraa1
{
    margin-left: 43px;
    margin-top: -88px;
    font-size: 17px;
}
.paraa2
{
margin-left: 136px;
}
.fa.fa-heart-o.hrt{
    margin-left: 337px;
    margin-top: -115px;
    font-size: 25px;
    color: red;
}
.col-md-5.anamka
{
    border: 1px solid gray;
    border-radius: 10px;
    width: 31.666667%;
    height: 135px;
    padding-top: 20px;
}
li.avail
{
    margin-left: 272px;
    margin-top: -82px;
    font-size: 10px;
    color: green;
}
.col-md-2.filter img
{
    height: 100px;
}
.btn.btn-primary.view
 {
    margin-left: 270px;
    height: 35px;
    margin-top: 7px;
}
.fa.fa-map-marker
{
    margin-left: 213px;
    margin-top: -28px;
    font-size: 15px;
    color: red;
}
.col-md-5.anamka2
{
    border: 1px solid gray;
    margin-left: 86px;
    border-radius: 10px;
    width: 31.666667%;
    height: 135px;
    padding-top: 20px;
}
.a1
{
    margin-left: 92px;
    background-color: #337ab7;
    color: white;
    padding-top: 10px;
    padding-bottom: 10PX;
    padding-left: 55px;
    padding-right: 25px;
}
.fa.fa-eye
{
    margin-left: 6px;
    margin-right: 31px;
}
.container-fluid.filter2,.container-fluid.filter1
{
     margin-top: 40px;
}
.vl {
    border-left: 2px solid white;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 100%
 }
 .vl1 {
     border-left: 2px solid grey;
    height: 29px;
    position: absolute;
    top: 1px;
    left: 90%;
 }
.ax11
{
    background-color: #337ab7;
    color: white;
    padding-top: 1px;
    padding-bottom: 1PX;
    padding-right: 2px;
    margin-left: 52px;
}
.ax22
{
    background-color: gray;
    color: white;
    padding-left: 9px;
    padding-right: 19px;
    padding-bottom: 2px;
    margin-left: 73px;
}
.age {
    margin-left: 226px;
    margin-top: -10px;
}
a.s11 
{
    color: white;
}
.nav.navbar-nav.navbar-right>li>a:hover
 {
    color:black;
    background-color:transparent;
}
@media only screen and (max-width: 768px)
{

.paraa1
{
    margin-left: 101px;
}
.paraa2
{
    margin-left: 103px;
}
.glyphicon.glyphicon-map-marker.mar
{
    margin-left: 180px;
}
.fa.fa-heart-o.hrt
{
    margin-left: 260px;
}
li.avail
 {
    margin-left: 210px;
}
.col-md-5.anamka2
{
   margin-left: 0px;
}
.col-md-5.anamka
{
    margin-bottom: 10px;
}
.ax11 
{
    margin-left: 225px;
    padding-top: 0px;
}
.ax22 
{
    padding-right: 14px;
    margin-left: 243px;
    padding-left: 8px;
}
.sp
 {
margin-right: 17px;
 }
.navbar-nav 
{
    margin-right: 80px;
}
.nav.navbar-nav.navbar-right 
{
    margin-top: 0px;
    margin-right: 1px;
}
#hm 
{
    height: 47px;
}
}

/*liked page */

#header
 {
    margin-left: 17px;
    margin-top: 7px;
}
li.active 
{
    background: white;
    color: steelblue;
    height: 69px;
}
a#hmm {
   
    margin-right: 10px;
    height: 62px;
    color: steelblue;
}
a.homee
{
    margin-top: -35px;
    font-size: 17px;
    color: white;
}
.fa.fa-user
{
    font-size: 30px;
    color: white;
    margin-left: 30px;
    margin-top: 19px;
}
.fa.fa-bell-o
{
    font-size: 30px;
    color: white;
    margin-left: 23px;
    margin-top: 19px;
}
.fa.fa-circle 
{
    font-size: 50px;
    color: white;
    margin-left: 13px;
    margin-top: 9px;
}
}

#hm
{
    padding-left: 35px;
    height: 61px;
    margin-left: 0px;
}
i#ra {
    color: steelblue;
}
.container-fluid.xx1 
{
    padding-top: 20px;
    padding-bottom: 10px;
}
.col-md-8.pp 
{
   padding-left: 150px;
}
.col-sm-4.col-md-4 
{
    margin-top: -5px;
    padding-left: 85px;
}
.fa.fa-sort-amount-desc
{
    font-size: 17px;
}
.sp1
{
    font-size: 17px;
    margin-right: 50px;
}
.fa.fa-circle-o
{
     font-size: 15px;
     color: gray
}

.container-fluid.ee1
{
    padding-right: 3px;
    padding-left: 3px;
    margin-right: auto;
    margin-left: auto;
    background-color: yellowgreen;
    height: 610px;
}
body{font-family: Montserrat;}
.an {
    margin-left: 133px;
    margin-top: -78px;
    font-size: 17px;
}
.col-md-6.ee1 
{
    border: 1px solid gray;
    border-radius: 10px;
    width: 45.666667%;
    height: 135px;
    padding-top: 20px;
}
li.l1 
{
    margin-left: 350px;
    margin-top: -67px;
    font-size: 10px;
    color: green;
}
i#heart
{
    font-size: 40px;
    color: firebrick;
    margin-left: 10px;
    margin-top: 23px;
}
img#img
 {
    margin-left: 35px;
    margin-top: -13px;
}
button.btn.btn-primary.vi
 {
    margin-left: 355px;
    height: 35px;
    margin-top: 0px;
}
.fa.fa-map-marker.sq
{
    margin-left: 296px;
    margin-top: -28px;
    font-size: 15px;
    color: red;
}
.container-fluid.cc1
{
    padding-top: 15px;
}
.col-md-6.ee2
{
     border: 1px solid gray;
     margin-left: 86px;
    border-radius: 10px;
    width: 45.666667%;
    height: 135px;
    padding-top: 20px;
}
.a1
{
    margin-left: 92px;
    background-color: #337ab7;
    color: white;
    padding-top: 10px;
    padding-bottom: 10PX;
    padding-left: 55px;
    padding-right: 25px;
}
.glyphicon.glyphicon-eye-open
{
   margin-left: 6px;
    margin-right: 31px;
}
.navbar-default 
{
    background-color: #0f87ed;
    border-color: #0f87ed;
}
.container.zz3
{
     margin-top: 30px;
}
.container.zz1
{
    margin-bottom: 30px;
}
a.s1 
{
    color: white;
}
.nav.navbar-nav.navbar-right>li>a:hover
 {
    color:black;
    background-color:transparent;
}
.previous
{
    display: inline;
    margin-right: 25px;
    margin-left: -66px;
    list-style: none;
    font-size: 17px;
}
.previous1
{
    display: inline;
    margin-right: 20px;
    list-style: none;
    font-size: 17px;
}
.previous2
{
   display: inline;
    margin-right: 20px; 
    list-style: none;
    font-size: 17px;
}
.previous3
{
    display:inline; 
    margin-right: 20px;
    list-style: none;
    font-size: 17px;
}
.next
{
    display: inline;
    list-style: none;
    font-size: 17px;
}
.col-md-12
{
    text-align:center;
}
.prev
{
    color: black;
}

@media only screen and (max-width: 768px)
{
.col-md-8.pp 
{
    padding-left: 143px;
    margin-left: -125px;
}
.navbar-nav 
{
    margin-right: 80px;
}
.nav.navbar-nav.navbar-right
 {
    margin-top: 0px;
    margin-right: 1px;
}
i#heart 
{
    margin-left: -10px;
    
}
img#img 
{
    margin-left: 0px;
    margin-top: -13px;
}
.para1,.para2

{
    margin-left: 130px;
    
}
.glyphicon.glyphicon-map-marker
{
    margin-left: 207px;
}

}

/*dateconfrm page */

.input-group-btn.d1:last-child>.btn, .input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -1px;
    height: 34px;
}
.container-fluid.header{
     background-color: #2c83c5;
}
a.home{
    color: #fff;
    margin-left: 47px;
    font-size: 17px;
    margin-top: -39px;
}
.nav.navbar-nav.navbar-right>li>a:hover{
    background: transparent;
    color: black;
}
a.navbar-brand {
    color: white;
    font-size: 24px;
    margin-top: 5px;
}
a.homee{
    margin-top: -35px;
    font-size: 17px;
}

img.img-responsive.cara {
    margin-top: -288px;
    margin-left: 617px;
}

img.chat,img.videocall 
{
    margin-left: 90px;
    margin-top: 46px;
    height: 40px;
}
img.pub 
{
    margin-left: 0px;
    margin-top: 46px;
    height: 40px;
}

img.movie 
{
    margin-left: 72px;
    margin-top: 46px;
    height: 40px;
}

img.cup 
{
    margin-left: 19px;
    margin-top: 15px;
    height: 40px;
}

img.dinner 
{
    margin-left: 45px;
    margin-top: 46px;
    height: 40px;
}

img.events 
{
    margin-left: 45px;
    margin-top: 46px;
    height: 34px;
}

img.drive 
{
    margin-left: 48px;
    margin-top:65px;
    height: 20px;
}

p.moviepara2 
{
    margin-top: -30px;
    margin-left: 66px;
    color: #2c83c5;
    font-size: 17px;
}

p.pubpara2 
{
    margin-top: -36px;
    margin-left: -8px;
    color: #2c83c5;
    font-size: 17px;
}
p.chatpara2 
{
    margin-top: -36px;
    margin-left: 80px;
    color: #2c83c5;
    font-size: 17px;
}

p.videocallpara2 
{
    margin-top: -30px;
    margin-left: 80px;
    color: #2c83c5;
    font-size: 17px;
}

p.cuppara2
{
    margin-top: -30px;
    margin-left: 40px;
    color: #2c83c5;
    font-size: 17px;
}

p.dinnerpara2 
{
    margin-top: -30px;
    margin-left: 30px;
    color: #2c83c5;
    font-size: 17px;
}

p.eventspara2 
{
    margin-top: -30px;
    margin-left: 46px;
    color: #2c83c5;
    font-size: 17px;
}
p.drivepara2 
{
    margin-top: -24px;
    margin-left: 37px;
    color: #2c83c5;
    font-size: 17px;
}

.form-group.and {
    margin-left: -282px;
}

.form-group.but {
    margin-left: -70px;
}

.fa.fa-sort-amount-desc
{
    font-size: 17px;
}

i.fa.fa-chevron-left 
{
    font-size: 40px;
    color: #2c83c5;
    margin-top: -205px;
    margin-left: 60px;
}

i.fa.fa-heart-o 
{
    font-size: 45px;
    color: red;
    margin-top: -275px;
    margin-left: 200px;
}

.fa.fa-circle-o
{
     font-size: 15px;
     color: gray
}

.col-sm-6.col-md-6
{
    margin-top: -10px;
}

i#glp {
    width: 35px;
}

.container.confrm
{
    padding-top: 20px;
    padding-left: 83px;
    
}
.container.confrm{
    background-color:rgb(245, 245, 245);
    width: 800px;
}
.form-control.form
{
        border: 1px saddlebrown;
}
#bttn
{
    border: 1px;
}
.text-center {
    color: #fff;
    background-color: #2c83c5;
    border-color: #2c83c5;
    margin-left: 250px;
    margin-top: 10px;
    border-radius: 10px;
    padding-right: 37px;
}

@media only screen and (max-width: 768px){
.fa.fa-heart-o 
{
    margin-left: 260px;
}
.col-md-5.ee2 
{
   margin-left: 0px;
}
.col-md-5.ee1 {
    margin-bottom: 10px;
}
.ax1 
{
    margin-left: 230px;
}
.ax2
{
    padding-right: 23px;
    margin-left: 228px;
    padding-left: 11px;
}
.navbar-nav 
{
    margin-right: 80px;
}
.nav.navbar-nav.navbar-right 
{
    margin-top: 0px;
    margin-right: 1px;
}
.col-md-4.p 
{
    margin-top: -216px;
    margin-left: 60px;
}
img.videocall 
{
    margin-left: 75px;
}
p.videocallpara
{
    margin-left: 144px;
}
img.cup 
{
    margin-left: 67px;
}
p.cuppara 
{
   margin-left: 143px;
}
img.dinner 
{
    margin-left: 68px;
}
p.dinnerpara 
{
   margin-left: 142px;
}
img.movie,img.events  
{
    margin-left: 62px;
}
p.eventspara 
{
    margin-left: 140px;
}
img.pub 
{
    margin-left: 80px;
}
p.pubpara 
{
    margin-left: 153px;
}
img.drive 
{
    margin-left: 57px;
    margin-top: 40px;
}
p.drivepara 
{
    margin-left: 143px;
}
a.homee 
{
    margin-top: -30px;
}
a#hm 
{
    height: 50px;
}
.input-group {
   width: 295px;
}
.text-center {
    margin-left: 43px;
}
.form-control 
{
    width: 295px;
}
}

/*skip login page */

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group
 {
    z-index: 2;
    margin-left: -1px;
    height: 34px;
}
.container-fluid.ee
{
    background-color: #2c83c5;
}
.home1
{  
   margin-right: 34px;
    font-size: 17px;
    color: white;
    margin-left: 47px;
    margin-top: -50px;
}
#right 
{
    float: right!important;
    margin-top: 40px;
}
.col-sm-3.col-md-3
{
    margin-top: 10px;
    margin-left: 20px;
}
.col-md-2.filt
{
    padding-left: 0px;
    padding-top: 120px;
    margin-left: -12px;
}
.z1
{
    float: right;
    padding-top: 120px;
}
.glyphicon.glyphicon-eye-open
{
   margin-left: 6px;
    margin-right: 31px;
}
.ax1
{
    background-color: #337ab7;
    color: white;
    padding-bottom: 1PX;
    padding-right: 2px;
    padding-top: 0px;
    margin-left: 33px;
}
.ax2
{
    background-color: gray;
    color: white;
    padding-left: 9px;
    padding-right: 19px;
    padding-bottom: 2px;
    margin-left: 45px;
    margin-right: -142px;
}
a.signup,a.signin{
    color: white;
    font-size: 17px;
}
ul#right {
    margin-top: 15px;
    margin-right: 100px;
}
.nav.navbar-nav.navbar-right>li>a:hover
 {
    color:black;
    background-color:transparent;
}
@media only screen and (max-width: 768px)
{

.z1 {
    float: right;
    padding-top: 0px;
}
a.hom1 {
    font-size: 20px;
    margin-top: -48px;
    margin-left: 24px;
}
