

.s2{
    color: white;
    margin-left: 47px;
    font-size: 20px;
}

.s1{

  margin-top: -14px;
    margin-left: 15px;

    font-size: 20px;
}

.s2 
{
    margin-top: -39px;
}

.s3{
	 color: white;
    margin-left: 47px;
    font-size: 20px;
    margin-top: -45px;
}
.btn.btn-primary.btn-sm {
    margin-left: 213px;
    margin-top: -30px;
}

img.p {
    height: 80px;
    margin-left: -16px;
}
img.p1 {
    height: 71px;
    margin-left: 13px;
}
p.mal {
    margin-left: 10px;
    font-size: 15px;
}
span.fm {
    margin-left: 54px;
}
#ex1Slider .slider-selection {
	background: #BABABA;
}
.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
    border-radius: 12px;
    width: 110px;
    font-size: 15px;
}


button.btn0.s {
    border-radius: 12px;
    background: #f7cb4d;
    border: 1px solid gray;
    height: 26px;
    width: 128px;
    color: white;

}
button.btn1.s {
    width: 104px;
    border-radius: 12px;
    background: #ec407a;
    border: 1px solid gray;
    height: 26px;
    width: 128px;
    color: white;
}
button.btn2.s {
    border-radius: 12px;
    background: #3f51b5;
    border: 1px solid gray;
    height: 26px;
    width: 128px;
    color: white;
}
button.btn3.s {
   
    border-radius: 12px;
    background:#f9a825;
    border: 1px solid gray;
    height: 26px;
    width: 128px;
    color: white;
}
button.btn4.s {
    
    border-radius: 12px;
    background: #76ff03;
    border: 1px solid gray;
    height: 26px;
    width: 128px;
    color: white;
}
button.btn5.s {
    
    border-radius: 12px;
    background:#e65100;
    border: 1px solid gray;
    height: 26px;
    width: 128px;
    color: white;
}
button.btn6.s {
    width: 266px;
    border-radius: 11px;
    border: 1px solid gray;
    background: #0091ea;
    color: white;
}
img.img1 {
    margin-left: 35px;
}

i.fa.fa-circle-thin {
    background: white;
    border-radius: 12px;
}

.input-sm
 {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    width: 214px;
}
.suss 
{
    padding-left: 26px;
}




input.form-control12 {
    margin-top: 54px;
    width: 200px;
}
span.ana {
    margin-left: 24px;
    font-size: 17px;
}

p.ag {
    margin-left: 129px;
    margin-top: -16px;
    font-size: 15px;
    color: blue;
}

img.im {
    height: 100px;
    float: left;
    margin-top: 80px;
    margin-left: -16px;
}

i.fa.fa-circle-o.sr {
    margin-left: 13px;
}
hr.h1 {
    background: rgba(128, 128, 128, 0.49);
    height: 14px;
    border-radius: 13px;
    width: 241px;
    margin-top: -17px;
    margin-left: 14px;
}
i.fa.fa-circle-o.sr1 {
    margin-left: 101px;
    margin-top: -28px;
}
b {
    font-size: 23px;
}

.col-md-9.sushmith{
    background: yellow;
    height: 90%;

}
h4.ag {
    color: rgba(51, 122, 183, 0.95);
}


p.ag1 {
    margin-left: 129px;
    margin-top: -8px;
}


p.av {
    margin-left: 264px;
       margin-top: -66px;
    font-size: 13px;
    color: #15dc15;
}
.fa.fa-map-marker.su {
    color: red;
    margin-left: 0px;
}


p.ag2 {
    margin-left: 129px;
    margin-top: 25px;
    font-size: 12px;
    color: red;
}

.fa.fa-heart-o.su1 {
    margin-left: 305px;
    margin-top: -42px;
    font-size: 19px;
    color: red;
}
.col-md-3.sushma1 {
    border: 1px solid grey;
    margin-top: 43px;
    margin-left: 50px;
    width: 368px;
    border-radius:10px;
    height: 110px;
}
.col-md-3.sushma {
    border: 1px solid grey;
    margin-top: 43px;
    margin-left: 12px;
    width: 368px;
    border-radius: 10px;
    height: 110px;
}
.col-md-5.cl
 {
    margin-top: 40px;
   
}
div#sus {
    margin-top: 17px;
}
img.ra {
    border-radius: 50%;
    margin-left: 15px;
    margin-top: 11px;
    height: 86px;
}
p.ana {
    margin-left: 130px;
    margin-top: -76px;
    font-size: 16px;
}
img.raj {
    float: left;
    margin-left: -567px;
    margin-top: 92px;
    height: 100px;

}
.sushmi{

    border: 1px solid #337ab7;
    border-radius: 1px;
    border-radius: 7px;
    background: #337ab7;
    color: white;
    margin-left: 250px;
    margin-top: -36px;
}
span.by {
    margin-right: 35px;
}
img.by2 {
    margin-left: 40px;
}


@media only screen and (max-width: 768px)
{
   .col-md-3.sushma {
    margin-left: -8px;
    width: 317px;
}
button.btn.btn-default {
    margin-right: 40px;
}
p.ana {
    margin-left: 107px;
    
}
input.sus {
    margin-left: 66px;
}
.input-sm {
    border: 1px solid gray;
}
button.btn.btn-primary.btn-sm {
    height: 30px;
}
p.ag {
    margin-left: 106px;
    
}
p.ag1 {
    margin-left: 105px;
    
}
img.ra{
    margin-left: 0px;
}
p.ag2 {
    margin-left: 104px;
    
}
p.av {
    margin-left: 220px;
    
}
.fa.fa-heart-o.su1 {
        margin-left: 250px;
    margin-top: -45px;
    
}

.col-md-3.sushma1 {
    margin-left: -10px;
    width: 320px;
}
.sushmi{

        margin-left: 200px;


}
}
